/* Table Of Content */


/*
1. Section Settings
2. Section Carousel
3. Section Blog
4. Section Footer
5. Section Navbar
_______________________

Colors
000000-2b2b2b-007bff-75c6fc-ffffff

*/


/* Section Settings */

html,
body {
    height: 100%;
    font-family: 'Prompt', sans-serif;
}

.bg-alpha {
    background: rgba(0, 0, 0, 0.5)
}

.border-short-bottom {
    position: relative;
    padding: 20px 0;
    margin-bottom: 25px;
}

.border-short-bottom::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background: #595959;
}

@media (max-width: 768px) {
    .display-4 {
        font-size: 2.5rem;
    }
}


/* Section Carousel */

.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active {
    height: 100%;
}

.carousel-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    top: 40%;
}

.backscreen {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}


/* Section Blog */

.warpper-card-img {
    position: relative;
    overflow: hidden;
}

.warpper-card-img::after {
    content: '';
    padding-top: 56.25%;
    display: block;
    height: 0;
}

.warpper-card-img img {
    position: absolute;
    top: 0;
    transition: 1s;
}

.warpper-card-img img:hover {
    transform: scale(1.2)
}


/* Section Footer */

.semi-footer {
    background: #2b2b2b;
    color: #dcdcdc;
}

.semi-footer a {
    color: #dcdcdc;
}

.semi-footer h4 {
    color: #75c6fc;
    border-bottom: 1px solid;
    padding: 10px 0;
}

.footer {
    background: #000;
    color: #fff;
    font-size: 0.7rem;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

#map {
    height: 300px;
    width: 100%;
}


/* Section Navbar */

#navbar {
    padding: 25px;
    transition: 0.5s;
    
}

/*all*/
#all{
    background-color: #e9ecef;
}

